@-webkit-keyframes slideDown {
  from {
    top: 10%; }
  to {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

@keyframes slideDown {
  from {
    top: 10%; }
  to {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

@-webkit-keyframes box {
  from {
    background: rgba(0, 0, 0, 0); }
  to {
    background: rgba(0, 0, 0, 0.54); } }

@keyframes box {
  from {
    background: rgba(0, 0, 0, 0); }
  to {
    background: rgba(0, 0, 0, 0.54); } }

.nav {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 10; }
  .nav__container {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 7px 0; }
  .nav__branding {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .nav__menu {
    list-style-type: none; }
    .nav__menu-item {
      display: inline;
      margin-right: 20px; }
      .nav__menu-item:hover {
        color: #e96656;
        cursor: pointer; }

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/bg2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff; }
  .hero__container {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .hero__title {
    color: #fff; }
  .hero__buttons-red {
    background: #e96656;
    border: none;
    border-radius: 5px;
    padding: 13px 35px;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    margin-right: 15px; }
    .hero__buttons-red:hover {
      background: #e6523f;
      cursor: pointer; }
  .hero__buttons-green {
    background: #20aa73;
    border: none;
    border-radius: 5px;
    padding: 13px 35px;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase; }
    .hero__buttons-green:hover {
      background: #1c9564;
      cursor: pointer; }

.benefits {
  text-align: center;
  margin: 0 auto; }
  .benefits__container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px; }
  .benefits__benefit {
    padding: 0 7px; }
    .benefits__benefit i {
      border: 10px solid #ececec;
      padding: 20px;
      border-radius: 100%;
      transition: border 0.2s ease-in;
      font-size: 2.5rem; }
      .benefits__benefit i:hover {
        border: 10px solid #20aa73;
        cursor: pointer; }
    .benefits__benefit-title {
      text-transform: uppercase;
      position: relative; }
      .benefits__benefit-title::after {
        content: "";
        height: 2px;
        width: 40%;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: -10px;
        background: #20aa73; }
    .benefits__benefit-description {
      font-size: 0.9rem; }

.projects {
  width: 100%;
  text-align: center; }
  .projects__container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px; }
  .projects__project {
    margin-top: -4px;
    padding: 0;
    position: relative; }
    .projects__project:hover {
      cursor: pointer; }
      .projects__project:hover .projects__project-box::after {
        -webkit-animation: box 0.4s forwards;
                animation: box 0.4s forwards; }
      .projects__project:hover .projects__project-slide-in-info {
        display: block;
        -webkit-animation: slideDown 0.2s ease-in-out forwards;
                animation: slideDown 0.2s ease-in-out forwards; }
      .projects__project:hover .projects__project-thumbnail {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        transition: -webkit-transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
    .projects__project-box {
      width: 220px;
      height: 100%;
      position: absolute; }
      .projects__project-box::after {
        content: "";
        width: 90%;
        height: 85%;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        margin-top: 10px;
        z-index: 9; }
    .projects__project-thumb-wrapper {
      width: 220px;
      overflow: hidden; }
    .projects__project-thumbnail {
      width: 220px;
      z-index: 1; }
    .projects__project-slide-in-info {
      display: none;
      position: absolute;
      z-index: 10;
      width: 100%; }
      .projects__project-slide-in-info h3,
      .projects__project-slide-in-info p {
        color: #fff; }
      .projects__project-slide-in-info h3::after {
        content: "";
        height: 2px;
        width: 70%;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: 40px;
        background: #e96656; }

.pricing {
  text-align: center;
  width: 100%;
  height: auto;
  background-image: url("../assets/bg2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .pricing__title {
    margin-bottom: 0;
    padding-top: 100px;
    color: #fff; }
  .pricing__subtitle {
    margin-top: 0;
    color: #fff; }
  .pricing__container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 150px; }
  .pricing__item {
    width: 17%;
    color: #fff;
    margin-right: 10px;
    margin-left: 10px; }
    .pricing__item-header {
      font-weight: bold;
      padding: 15px 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .pricing__item h3 {
      font-size: 1.1rem; }
    .pricing__item .green {
      background: #20aa73; }
    .pricing__item .blue {
      background: #3ab0e2; }
    .pricing__item .red {
      background: #e96656; }
    .pricing__item .gold {
      background: #e7ac44; }
    .pricing__item-price {
      background: #404040;
      padding: 40px;
      color: grey; }
      .pricing__item-price b {
        font-size: 2rem;
        font-weight: normal;
        color: #fff; }
    .pricing__item ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .pricing__item ul li {
        background: #fff;
        color: #808080;
        font-size: 0.86rem;
        padding: 10px;
        border-bottom: 1px solid #ececec; }
        .pricing__item ul li:last-of-type {
          padding-top: 30px;
          padding-bottom: 30px; }
        .pricing__item ul li .button {
          color: #fff;
          padding: 10px 20px;
          text-transform: uppercase;
          border-radius: 5px; }
          .pricing__item ul li .button:hover {
            cursor: pointer; }

.footer {
  width: 100%;
  display: flex;
  background: #404040;
  justify-content: center;
  text-align: center; }
  .footer__item {
    padding: 50px 0;
    width: 20%;
    color: #ececec; }
    .footer__item p {
      color: #ececec; }
    .footer__item i {
      font-size: 1.3rem; }
    .footer__item .fa-map-marker-alt {
      color: #e96656; }
    .footer__item .fa-envelope {
      color: #20aa73; }
    .footer__item .fa-phone-square {
      color: #3ab0e2; }
    .footer__item.social {
      background: #313131; }
      .footer__item.social i:hover {
        color: #e96656;
        cursor: pointer;
        transition: color 0.4s; }

body {
  font-family: "Lato", sans-serif;
  color: #313131;
  margin: 0;
  padding: 0; }

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #404040; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 2.9rem; }

p {
  color: #313131; }
