@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes animation {
  0% { }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@keyframes animation {
  0% { }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1090px;
  padding: 0 25px;
  width: 100%; }

.bottom-nav {
  font-size: 16pt;
  padding-top: 10px; }
  @media (min-width: 980px) {
    .bottom-nav {
      display: inline-block;
      padding-top: 58px; } }
  .bottom-nav__item {
    padding-bottom: 10px; }
    @media (min-width: 980px) {
      .bottom-nav__item {
        display: inline-block;
        margin-left: 15px; } }
  .bottom-nav__link {
    color: #FFFFFF;
    text-decoration: none; }

.footer {
  background: #4D4D4D;
  color: #FFFFFF;
  padding: 20px 15px; }
  .footer__items {
    padding-bottom: 30px; }
  .footer__item {
    padding-bottom: 5px; }
    @media (min-width: 980px) {
      .footer__item {
        display: inline-block;
        margin-right: 15px; } }
    .footer__item:not(:last-child)::after {
      background: #FFFFFF;
      content: " ";
      display: block;
      height: 2px;
      width: 81px; }
      @media (min-width: 980px) {
        .footer__item:not(:last-child)::after {
          display: inline-block;
          height: 15px;
          margin-left: 15px;
          vertical-align: middle;
          width: 2px; } }
  .footer__link {
    color: #FFFFFF;
    text-decoration: none; }
  .footer__text {
    color: #CCCCCC;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.6; }
    @media (min-width: 980px) {
      .footer__text {
        line-height: 1.4; } }

.footer-l-content {
  width: 100ï¬; }
  @media (min-width: 980px) {
    .footer-l-content {
      width: 80%; } }

.footer-r-content {
  font-size: 2.5rem;
  padding: 20px 0; }
  @media (min-width: 980px) {
    .footer-r-content {
      align-self: flex-end;
      padding-bottom: 10px; } }

.header {
  background: #D3135A;
  padding: 27px 15px; }
  @media (min-width: 980px) {
    .header {
      margin-bottom: 35px;
      padding: 0; } }
  .header__logo {
    color: #FFFFFF;
    font-size: 35pt;
    font-weight: bold; }
    @media (min-width: 980px) {
      .header__logo {
        align-self: flex-end;
        font-size: 50pt;
        padding: 49px 0 5px;
        width: auto; } }
  .header__menu-trigger {
    align-self: center;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.375rem;
    margin-left: -5px;
    text-align: right; }
    .header__menu-trigger::before {
      content: "\F0C9";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      padding-right: 10px; }
    @media (min-width: 980px) {
      .header__menu-trigger {
        display: none; } }
  .header__menu-checkbox:checked + .header__navigation {
    -webkit-clip-path: none;
            clip-path: none;
    display: block;
    opacity: 1;
    position: inherit; }
  .header__menu-checkbox {
    display: none; }
  .header__navigation {
    -webkit-clip-path: polygon(0 100%, 0% 100%, 0 100%);
            clip-path: polygon(0 100%, 0% 100%, 0 100%);
    display: none;
    opacity: 0;
    position: absolute;
    transition: 0.2s ease;
    width: 100%; }
    @media (min-width: 980px) {
      .header__navigation {
        align-self: flex-start;
        -webkit-clip-path: none;
                clip-path: none;
        display: block;
        opacity: 1;
        position: inherit;
        width: auto; } }

.top-nav {
  padding-top: 15px; }
  @media (min-width: 980px) {
    .top-nav {
      text-align: right; } }
  .top-nav__item {
    padding-bottom: 10px; }
    @media (min-width: 980px) {
      .top-nav__item {
        display: inline-block;
        margin-left: 15px; } }
  .top-nav__link {
    color: #000000;
    text-decoration: none; }

.main-article {
  background: white;
  padding: 15px; }
  @media (min-width: 980px) {
    .main-article {
      padding: 35px 25px 55px; } }
  .main-article__title {
    font-size: 33px;
    font-weight: 600;
    padding-bottom: 15px; }
  .main-article__text {
    line-height: 1.6; }

.main-form {
  padding: 25px;
  border: 1px solid; }
  .main-form > input {
    height: 30px;
    font-size: 1rem;
    padding-left: 15px;
    width: 100%; }
  .main-form__label {
    display: block;
    padding: 5px 0; }
  .main-form__message {
    height: 180px;
    font-size: 1rem;
    padding: 15px 0 0 15px;
    resize: none;
    width: 100%; }
  .main-form__button {
    background-color: #D3135A;
    border: none;
    color: #FFFFFF;
    font-size: 1.25rem;
    height: 50px;
    letter-spacing: 2px;
    margin-top: 20px;
    width: 100%; }
    @media (min-width: 980px) {
      .main-form__button {
        font-size: 8pt;
        height: 30px;
        width: 90px; } }

.main-second-article {
  padding: 15px;
  line-height: 1.4; }

.main-second-section {
  background: #CCCCCC;
  max-width: 900px;
  margin: 15px auto 0; }
  @media (min-width: 980px) {
    .main-second-section {
      display: flex;
      max-width: initial;
      line-height: 1.4;
      padding: 20px; } }

.main-section {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 900px;
  width: auto; }
  @media (min-width: 980px) {
    .main-section {
      margin: 0;
      width: 70%; } }

.main-sub-article {
  margin-top: 15px; }
  @media (min-width: 980px) {
    .main-sub-article {
      display: flex;
      margin-top: 15px; } }

.main-sub-article-content__title {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 25px; }

.main-sub-article-content__item {
  padding-bottom: 5px; }
  .main-sub-article-content__item:not(:last-child)::after {
    background: #CCCCCC;
    content: " ";
    display: block;
    height: 1px;
    width: 100%; }

.main-sub-article-content__text {
  line-height: 1.4;
  padding: 20px 15px; }

.main-sub-article-content__link {
  color: #1DB0E8;
  display: block;
  padding-bottom: 10px;
  text-decoration: none; }

.main-sub-article-l-content {
  background: #FFFFFF;
  margin-bottom: 15px; }
  @media (min-width: 980px) {
    .main-sub-article-l-content {
      flex-grow: 1;
      margin-bottom: 0;
      margin-right: 1%;
      width: 100%; } }

.main-sub-article-r-content {
  background: #FFFFFF;
  padding: 20px 15px 0; }
  @media (min-width: 980px) {
    .main-sub-article-r-content {
      flex-grow: 1;
      margin-left: 1%;
      width: 100%; } }

.side-section {
  margin: 15px auto;
  max-width: 900px;
  width: 100%; }
  @media (min-width: 980px) {
    .side-section {
      flex-grow: 1;
      padding-left: 15px;
      margin: 0;
      width: 30%; } }

.side-article {
  padding: 15px; }
  .side-article__title {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 25px;
    width: 75%; }
  .side-article__text {
    line-height: 1.5;
    padding-bottom: 15px; }
    .side-article__text::before {
      background: #000000;
      content: "";
      display: block;
      height: 5px;
      margin-bottom: 15px;
      width: 100%; }

body {
  background: #E6E6E6;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Exo 2', sans-serif; }

.grid-example {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 100px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 1em; }

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3; }

.box2 {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 1em; }
