body {
  font-family: "Lato", sans-serif;
  color: #313131;
  margin: 0;
  padding: 0; }

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #404040; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 2.9rem; }

.nav {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 10; }
  .nav__container {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 7px 0; }
  .nav__branding {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .nav__menu {
    list-style-type: none; }
    .nav__menu-item {
      display: inline;
      margin-right: 20px; }
      .nav__menu-item:hover {
        color: #e96656;
        cursor: pointer; }

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/bg2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff; }
  .hero__container {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .hero__title {
    color: #fff; }
  .hero__buttons-red {
    background: #e96656;
    border: none;
    border-radius: 5px;
    padding: 13px 35px;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    margin-right: 15px; }
    .hero__buttons-red:hover {
      background: #e6523f;
      cursor: pointer; }
  .hero__buttons-green {
    background: #20aa73;
    border: none;
    border-radius: 5px;
    padding: 13px 35px;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase; }
    .hero__buttons-green:hover {
      background: #1c9564;
      cursor: pointer; }

.benefits {
  text-align: center; }
  .benefits__container {
    display: flex; }
  .benefits__benefit i {
    border: 10px solid #ececec;
    padding: 20px;
    border-radius: 100%;
    transition: border 0.2s ease-in;
    font-size: 2.5rem; }
    .benefits__benefit i:hover {
      border: 10px solid #20aa73;
      cursor: pointer; }
