@import url(https://fonts.googleapis.com/css?family=Exo+2:300,500,700|Open+Sans:300,400,700&subset=latin-ext);@-webkit-keyframes animation {
  0% { }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }
@keyframes animation {
  0% { }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

*,
*::after,
*::before {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(15, 15, 15, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 10; }

.branding {
  width: 300px; }
  .branding__logo {
    width: 100%;
    max-width: 50px;
    height: auto;
    display: inline-block;
    vertical-align: middle; }
  .branding__name {
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; }

.primary-nav__element {
  display: inline-block; }
  .primary-nav__element + .primary-nav__element {
    margin-left: 20px; }

.primary-nav__link {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 15px 10px;
  position: relative;
  overflow: hidden; }
  .primary-nav__link::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: #ffd000;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }
  .primary-nav__link:hover::after {
    -webkit-transform: translateX(0);
            transform: translateX(0); }

.hero-image {
  position: relative;
  margin: 0; }
  .hero-image__image {
    width: 100%;
    height: auto; }
  .hero-image__content {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    background-color: rgba(15, 15, 15, 0.8); }
  .hero-image__title {
    color: #ffffff;
    font-size: 1.875rem;
    margin: 0 0 15px 0; }
  .hero-image__description {
    color: #ffffff;
    font-size: 1.25rem;
    margin: 0 0 15px 0; }
  .hero-image__button {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s linear;
    background: #ffd000;
    color: #000000; }
    .hero-image__button:hover {
      background: #b39200; }
    .hero-image__button:nth-of-type(1) {
      padding: 10px;
      border-radius: 5px;
      display: inline-block;
      text-decoration: none;
      transition: all 0.5s linear;
      background: #ffd000;
      color: #000000; }
      .hero-image__button:nth-of-type(1):hover {
        background: #b39200; }
    .hero-image__button:nth-of-type(2) {
      padding: 10px;
      border-radius: 5px;
      display: inline-block;
      text-decoration: none;
      transition: all 0.5s linear;
      background: transparent;
      border: 3px solid #ffd000;
      color: #ffffff;
      margin-left: 10px; }
      .hero-image__button:nth-of-type(2):hover {
        background: #ffd000;
        color: #000000; }

.benefits {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 100px;
  background-color: #8d8d8d;
  margin-top: -2px; }
  .benefits__title {
    font-size: 1.875rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 100px; }
  .benefits__container {
    width: 100% / 3;
    margin-top: 220px;
    border: 1px solid #000000;
    padding: 40px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .benefits__icon {
    font-size: 3.125rem;
    align-self: center; }

.products {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px; }
  .products__title {
    font-size: 1.875rem;
    margin: 35px 0; }
  .products__container {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-rows: auto auto auto; }
  .products__product:nth-of-type(4) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    text-align: left; }
  .products__product:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
  .products__product:nth-of-type(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    text-align: right; }
  .products__product:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .products__image {
    width: 80%;
    max-width: 100%;
    height: auto;
    text-align: center; }

.blog {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 70px; }
  .blog hr {
    margin: 0;
    padding: 0; }
  .blog__header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    position: relative; }
    .blog__header::after {
      content: "";
      height: 6px;
      width: 200px;
      background: #ffd000;
      position: absolute;
      bottom: -10px; }
  .blog__title {
    font-size: 1.875rem;
    font-weight: bold; }
  .blog__button a {
    background: #ff6347;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    font-size: 1.25rem; }
    .blog__button a:hover {
      background-color: #ff5638;
      cursor: pointer; }
  .blog__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .blog__post {
    width: 45%;
    min-width: 48%;
    border: 1px solid #1a1b2b;
    margin-bottom: 50px; }
    .blog__post img {
      width: 150px;
      max-width: 100%;
      height: auto;
      float: left;
      margin-right: 10px; }
    .blog__post h3 {
      font-size: 1.5625rem;
      margin-top: 10px;
      margin-bottom: 10px; }
    .blog__post p {
      font-size: 1rem;
      letter-spacing: 2.3px; }

@media only screen and (max-width: 1095px) {
  .blog__post {
    width: 100%; } }

.contacts {
  width: 100%;
  display: flex;
  background: #1a1b2b; }
  .contacts__container {
    width: 50%;
    padding: 20px;
    color: white;
    line-height: 20px; }
  .contacts__title {
    font-size: 1.875rem;
    margin-bottom: 25px; }
  .contacts .map {
    width: 50%;
    text-align: right; }
    .contacts .map .gmap_canvas {
      overflow: hidden;
      height: auto; }

@media only screen and (max-width: 600px) {
  .contacts {
    flex-wrap: wrap; }
    .contacts__container {
      width: 100%; }
    .contacts .map {
      width: 100%;
      max-width: 100%; } }

footer {
  text-align: center; }

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Exo 2", sans-serif; }

.grid-example {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 100px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 1em; }

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3; }

.box2 {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 1em; }
