.contacts {
  width: 100%;
  display: flex;
  background: $color--blue--dark;

  &__container {
    width: 100%;
    padding: $padding;
    margin-left: 150px;
    margin-top: 50px;
    color: white;
  }

  &__title {
    font-size: $h2;
    margin-bottom: 25px;
  }

  .map {
    width: 100%;
    text-align: right;

    .gmap_canvas {
      overflow: hidden;
      height: auto;
    }
  }
}
