
/*                   Adapt Academy 2019 lesson 04 - JS | task 04 by Donatas Dereškevičius                     */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    text-align: right;
    overflow: hidden;
}

.controls__button, .form-input, .form-button {
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.controls__button, .form-input, .form-button {
    border: none;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    border-radius: 5%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.form-input {
    background-color: #e4dede;
}

.controls__button, .form-button {
    background-color: #ffffff;
    padding: 0.5rem 2rem 0.5rem 2rem;
}