.arrow-link {
  color: $gray;
  display: inline-block;

  i {
    font-size: 1.8rem;
  }

  &::before {
    content: '';
    display: inline-block;
    height: 10px;
    margin-left: 0;
    transition: transform .2s ease-in-out;
    width: 10px;
  }

  &:link,
  &:visited {
    color: $gray-dark;
    text-decoration: none;
    transition: color .2s ease-in;
  }

  &:hover {
    color: $san-marino;
    text-decoration: underline;
    transition: color .2s ease-out;

    &::before {
      margin-left: $ultra-small-margin;
    }
  }
}
