.hero-image {
    position: relative;

    &__image {
        width: 100%;
        height: auto;
    }

    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        padding: $padding;
        transform: translateY(-50%) translateX(-50%);
        background-color: transparentize($color: $color--dark-grey, $amount: 0.2);
    }

    &__title {
        color: $color--white;
        font-size: rem(30px);
        margin: 0 0 15px 0;
    }

    &__description {
        color: $color--white;
        font-size: rem(20px);
        margin: 0 0 15px 0;
    }

    &__button {
        @include button;

        &:nth-of-type(1) {
            @include button("primary", $color--grey);
        }
        &:nth-of-type(2) {
            @include button("secondary", $color--grey);
        }
    }
}