@import url("https://fonts.googleapis.com/css?family=Exo+2:300,500,700|Open+Sans:300,400,700&subset=latin-ext");
@-webkit-keyframes animation {
  0% {
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes animation {
  0% {
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes sceneProgress {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes sceneProgress {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes opacityChange {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityChange {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  0% {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
  }
  60% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
  }
  80% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: -400px;
  }
  100% {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: -800px;
  }
}

@keyframes grow {
  0% {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
  }
  60% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
  }
  80% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: -400px;
  }
  100% {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: -800px;
  }
}

@-webkit-keyframes float {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes float {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes glow {
  from {
    -webkit-box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
    box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
    box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
  }
}

@keyframes glow {
  from {
    -webkit-box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
    box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
    box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
  }
}

@-webkit-keyframes energyGlow {
  from {
    -webkit-box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
    box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
    box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
  }
}

@keyframes energyGlow {
  from {
    -webkit-box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
    box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
    box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
  }
}

@-webkit-keyframes zoomGokuOut {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}

@keyframes zoomGokuOut {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}

.energy-stuff {
  display: block;
  position: absolute;
  background: white;
  border-radius: 50%;
  -webkit-transition: opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), -webkit-transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
  transition: opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), -webkit-transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
  transition: transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
  transition: transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), -webkit-transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
}

.energy-stuff-0 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(20px) translateY(407px);
  transform: translateX(20px) translateY(407px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-1 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-393px) translateY(-449px);
  transform: translateX(-393px) translateY(-449px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-2 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(210px) translateY(-537px);
  transform: translateX(210px) translateY(-537px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-3 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(654px) translateY(-330px);
  transform: translateX(654px) translateY(-330px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-4 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(581px) translateY(-211px);
  transform: translateX(581px) translateY(-211px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-5 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-129px) translateY(-700px);
  transform: translateX(-129px) translateY(-700px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-6 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(659px) translateY(178px);
  transform: translateX(659px) translateY(178px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-7 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-245px) translateY(636px);
  transform: translateX(-245px) translateY(636px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-8 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-74px) translateY(261px);
  transform: translateX(-74px) translateY(261px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-9 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-383px) translateY(447px);
  transform: translateX(-383px) translateY(447px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-10 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-421px) translateY(227px);
  transform: translateX(-421px) translateY(227px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-11 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(580px) translateY(-172px);
  transform: translateX(580px) translateY(-172px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-12 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(605px) translateY(697px);
  transform: translateX(605px) translateY(697px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-13 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(78px) translateY(438px);
  transform: translateX(78px) translateY(438px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-14 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-195px) translateY(-83px);
  transform: translateX(-195px) translateY(-83px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-15 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(52px) translateY(380px);
  transform: translateX(52px) translateY(380px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-16 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-193px) translateY(102px);
  transform: translateX(-193px) translateY(102px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-17 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-143px) translateY(169px);
  transform: translateX(-143px) translateY(169px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-18 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(378px) translateY(475px);
  transform: translateX(378px) translateY(475px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-19 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(674px) translateY(314px);
  transform: translateX(674px) translateY(314px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-20 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(90px) translateY(579px);
  transform: translateX(90px) translateY(579px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-21 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(116px) translateY(50px);
  transform: translateX(116px) translateY(50px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-22 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-75px) translateY(440px);
  transform: translateX(-75px) translateY(440px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-23 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(183px) translateY(-409px);
  transform: translateX(183px) translateY(-409px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-24 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(483px) translateY(147px);
  transform: translateX(483px) translateY(147px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-25 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-346px) translateY(184px);
  transform: translateX(-346px) translateY(184px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-26 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-589px) translateY(670px);
  transform: translateX(-589px) translateY(670px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-27 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(361px) translateY(377px);
  transform: translateX(361px) translateY(377px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-28 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(427px) translateY(-158px);
  transform: translateX(427px) translateY(-158px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-29 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-595px) translateY(587px);
  transform: translateX(-595px) translateY(587px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-30 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(619px) translateY(452px);
  transform: translateX(619px) translateY(452px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-31 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-510px) translateY(582px);
  transform: translateX(-510px) translateY(582px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-32 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(465px) translateY(-600px);
  transform: translateX(465px) translateY(-600px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-33 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-18px) translateY(-673px);
  transform: translateX(-18px) translateY(-673px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-34 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-628px) translateY(-510px);
  transform: translateX(-628px) translateY(-510px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-35 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(6px) translateY(-520px);
  transform: translateX(6px) translateY(-520px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-36 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(406px) translateY(177px);
  transform: translateX(406px) translateY(177px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-37 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(274px) translateY(-607px);
  transform: translateX(274px) translateY(-607px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-38 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-108px) translateY(466px);
  transform: translateX(-108px) translateY(466px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-39 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(35px) translateY(-114px);
  transform: translateX(35px) translateY(-114px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-40 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(68px) translateY(-416px);
  transform: translateX(68px) translateY(-416px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-41 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-131px) translateY(-364px);
  transform: translateX(-131px) translateY(-364px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-42 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(490px) translateY(-104px);
  transform: translateX(490px) translateY(-104px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-43 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(598px) translateY(-223px);
  transform: translateX(598px) translateY(-223px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-44 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-680px) translateY(657px);
  transform: translateX(-680px) translateY(657px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-45 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(396px) translateY(-655px);
  transform: translateX(396px) translateY(-655px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-46 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(607px) translateY(-455px);
  transform: translateX(607px) translateY(-455px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-47 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(202px) translateY(-699px);
  transform: translateX(202px) translateY(-699px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-48 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-120px) translateY(551px);
  transform: translateX(-120px) translateY(551px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-49 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(510px) translateY(-286px);
  transform: translateX(510px) translateY(-286px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-50 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-342px) translateY(554px);
  transform: translateX(-342px) translateY(554px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-51 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-33px) translateY(521px);
  transform: translateX(-33px) translateY(521px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-52 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-494px) translateY(-11px);
  transform: translateX(-494px) translateY(-11px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-53 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-384px) translateY(533px);
  transform: translateX(-384px) translateY(533px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-54 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(253px) translateY(-508px);
  transform: translateX(253px) translateY(-508px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-55 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(592px) translateY(-658px);
  transform: translateX(592px) translateY(-658px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-56 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(539px) translateY(-638px);
  transform: translateX(539px) translateY(-638px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-57 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(560px) translateY(454px);
  transform: translateX(560px) translateY(454px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-58 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(94px) translateY(516px);
  transform: translateX(94px) translateY(516px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-59 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-560px) translateY(-44px);
  transform: translateX(-560px) translateY(-44px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-60 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(642px) translateY(-686px);
  transform: translateX(642px) translateY(-686px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-61 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(338px) translateY(187px);
  transform: translateX(338px) translateY(187px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-62 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(73px) translateY(-617px);
  transform: translateX(73px) translateY(-617px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-63 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(293px) translateY(297px);
  transform: translateX(293px) translateY(297px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-64 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(297px) translateY(564px);
  transform: translateX(297px) translateY(564px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-65 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-550px) translateY(366px);
  transform: translateX(-550px) translateY(366px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-66 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(51px) translateY(244px);
  transform: translateX(51px) translateY(244px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-67 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-382px) translateY(-695px);
  transform: translateX(-382px) translateY(-695px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-68 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(23px) translateY(-522px);
  transform: translateX(23px) translateY(-522px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-69 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-42px) translateY(-405px);
  transform: translateX(-42px) translateY(-405px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-70 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-465px) translateY(-63px);
  transform: translateX(-465px) translateY(-63px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-71 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(151px) translateY(125px);
  transform: translateX(151px) translateY(125px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-72 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(305px) translateY(-190px);
  transform: translateX(305px) translateY(-190px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-73 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-234px) translateY(272px);
  transform: translateX(-234px) translateY(272px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-74 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-622px) translateY(-326px);
  transform: translateX(-622px) translateY(-326px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-75 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(523px) translateY(347px);
  transform: translateX(523px) translateY(347px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-76 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-317px) translateY(97px);
  transform: translateX(-317px) translateY(97px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-77 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(537px) translateY(-44px);
  transform: translateX(537px) translateY(-44px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-78 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-381px) translateY(590px);
  transform: translateX(-381px) translateY(590px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-79 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(453px) translateY(618px);
  transform: translateX(453px) translateY(618px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-80 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(623px) translateY(-450px);
  transform: translateX(623px) translateY(-450px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-81 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-594px) translateY(-505px);
  transform: translateX(-594px) translateY(-505px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-82 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-205px) translateY(-528px);
  transform: translateX(-205px) translateY(-528px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-83 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(225px) translateY(301px);
  transform: translateX(225px) translateY(301px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-84 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(275px) translateY(-519px);
  transform: translateX(275px) translateY(-519px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-85 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(179px) translateY(665px);
  transform: translateX(179px) translateY(665px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-86 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(179px) translateY(89px);
  transform: translateX(179px) translateY(89px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-87 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-179px) translateY(-641px);
  transform: translateX(-179px) translateY(-641px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-88 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(304px) translateY(220px);
  transform: translateX(304px) translateY(220px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-89 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(173px) translateY(40px);
  transform: translateX(173px) translateY(40px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-90 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(504px) translateY(438px);
  transform: translateX(504px) translateY(438px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-91 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(678px) translateY(42px);
  transform: translateX(678px) translateY(42px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-92 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-125px) translateY(133px);
  transform: translateX(-125px) translateY(133px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-93 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(495px) translateY(-394px);
  transform: translateX(495px) translateY(-394px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-94 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-512px) translateY(-253px);
  transform: translateX(-512px) translateY(-253px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-95 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-561px) translateY(64px);
  transform: translateX(-561px) translateY(64px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-96 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-252px) translateY(-207px);
  transform: translateX(-252px) translateY(-207px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-97 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-237px) translateY(-294px);
  transform: translateX(-237px) translateY(-294px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-98 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-364px) translateY(450px);
  transform: translateX(-364px) translateY(450px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-99 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(493px) translateY(379px);
  transform: translateX(493px) translateY(379px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-100 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(33px) translateY(-37px);
  transform: translateX(33px) translateY(-37px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
  box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

body.exercise1 {
  background: url(../assets/namek.png) center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.modal {
  position: fixed;
  width: 250px;
  right: 20px;
  bottom: 20px;
  padding: 15px;
  background-color: black;
  color: white;
  text-align: center;
  display: none;
}

.modal__video iframe {
  width: 100%;
  height: auto;
}

.modal__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal__text {
  margin-bottom: 10px;
}

.modal__button {
  display: inline-block;
  background: white;
  color: black;
  padding: 10px;
}

.goku {
  position: fixed;
  left: 50%;
  width: 10%;
  margin-left: 5%;
  bottom: 200px;
  min-width: 200px;
}

.goku__body {
  width: 100%;
  height: auto;
  -webkit-animation: float 3s ease-in-out infinite alternate;
  animation: float 3s ease-in-out infinite alternate;
}

.goku__spirit-bomb {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  background-image: radial-gradient(#faf7ff 0%, #faf7ff 17%, #90e7fe 28%, #90e7fe 70%, #79e2fa 100%);
  top: -250px;
  border-radius: 100%;
  text-indent: -9999px;
  -webkit-box-shadow: 0 0 14px 2px #baf3fe, 0 0 9px 10px #b7f3fe;
  box-shadow: 0 0 14px 2px #baf3fe, 0 0 9px 10px #b7f3fe;
  border: 10px solid #baf3fe;
  -webkit-animation: float 7s ease-in-out infinite alternate, glow 5s ease-in-out infinite alternate;
  animation: float 7s ease-in-out infinite alternate, glow 5s ease-in-out infinite alternate;
}

.goku__spirit-bomb-energy {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -200px;
  -webkit-animation: opacityChange 2s ease-in-out infinite alternate;
  animation: opacityChange 2s ease-in-out infinite alternate;
}

.input--play {
  display: none;
}

.input--play:checked ~ .controls label[for="play"]:before {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background: #cb0047;
  -webkit-animation: sceneProgress 5s linear 1 forwards;
  animation: sceneProgress 5s linear 1 forwards;
}

.input--play:checked ~ .goku {
  -webkit-animation: zoomGokuOut 2s ease-in-out 5s 1 forwards;
  animation: zoomGokuOut 2s ease-in-out 5s 1 forwards;
}

.input--play:checked ~ .goku .goku__spirit-bomb {
  -webkit-animation: float 3s ease-in-out infinite alternate, glow 5s ease-in-out infinite alternate, grow 8s cubic-bezier(0.05, 1.34, 0.78, -0.35) 1 forwards;
  animation: float 3s ease-in-out infinite alternate, glow 5s ease-in-out infinite alternate, grow 8s cubic-bezier(0.05, 1.34, 0.78, -0.35) 1 forwards;
}

.input--reset {
  display: none;
}

.input--reset:checked ~ .controls label[for="reset"]:before {
  background: #cb0047;
}

.input--modal {
  display: none;
}

.input--modal:checked ~ .controls label[for="modal"]:before {
  background: black;
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 100;
  border-bottom: 1px solid #606060;
  background-color: #3a3a3a;
}

.controls label {
  position: relative;
  cursor: pointer;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  overflow: hidden;
}

.controls label:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.controls label:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.controls label + label {
  border-left: 1px solid #606060;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Exo 2', sans-serif;
  padding: 2em 3.75em;
}

.grid-example {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 100px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 1em;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.box2 {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 1em;
}
