.paper {
  @include box-shadow;
  background-color: $white;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 20px;
  transition: box-shadow 200ms ease-in-out;
  width: 100%;

  &--no-padding {
    padding: 0;
  }

  &:hover {
    @include box-shadow(20%);
  }

  @include respond-to(medium-up) {
    padding: 40px;

    &--no-padding {
      padding: 0;
    }
  }
}

