.blog {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 70px;

  hr {
    margin: 0;
    padding: 0;
  }

  &__header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    position: relative;

    &::after {
      content: "";
      height: 6px;
      width: 200px;
      background: $color--yellow;
      position: absolute;
      bottom: -10px;
    }
  }

  &__title {
    font-size: $h2;
    font-weight: bold;
  }

  &__button {
    a {
      background: $color--pink;
      padding: 10px 20px;
      text-decoration: none;
      color: $color--black;
      font-size: rem(20px);

      &:hover {
        background-color: darken($color--pink, 3%);
        cursor: pointer;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__post {
    width: 48%;
    border: 1px solid $color--blue--dark;
    margin-bottom: 50px;

    img {
      width: 250px;
      max-width: 100%;
      height: auto;
      float: left;
      margin-right: 10px;
    }

    h3 {
      font-size: rem(25px);
      margin-top: 60px;
    }

    p {
      font-size: rem(18px);
      letter-spacing: 2.3px;
    }
  }
}
