@keyframes slideDown {
  from {
    top: 10%;
  }

  to {
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes box {
  from {
    background: transparentize($color: black, $amount: 1);
  }

  to {
    background: transparentize($color: black, $amount: 0.46);
  }
}
