//margins and font size 
$text-content-left-margin: 230px;
$text-mQ-content-left-margin: 100px;
$text-content-right-margin: 100px;
$text-mQ-content-right-margin: 40px;
$media-content-left-margin: 100px;
$main-heading: 80px;
$big-vertical-margin: 120px;
$medium-vertical-margin: 80px;
$small-vertical-margin: 50px;
$negative-margin: 130px; //invade previous element
$address-margin: 15px;
$very-small-vertical-margin: 30px;
$heading-font-size: 40px;


//colors
$color-white: #ffffff;
$color-black: #000000;
$color-address: rgba(80, 80, 80, 0.671);
$color-background-1: rgb(240, 240, 240);
$color-background-2: rgb(187, 187, 187);
$color-background-3: rgb(82, 82, 82);
$color-background-4: rgb(49, 49, 49);
