$color--black: rgb(64, 64, 64);
$color--green: rgb(32, 170, 115);
$color--red: rgb(233, 102, 86);
$color--paragraph: rgb(49, 49, 49);
$color--white: #fff;
$color--light-grey: #ececec;
$color--grey: #808080;
$color--blue: rgb(58, 176, 226);
$color--gold: rgb(231, 172, 68);
