.benefits {
  text-align: center;
  margin: 0 auto;

  &__container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  &__benefit {
    padding: 0 7px;
    i {
      border: 10px solid $color--light-grey;
      padding: 20px;
      border-radius: 100%;
      transition: border 0.2s ease-in;
      font-size: 2.5rem;

      &:hover {
        border: 10px solid $color--green;
        cursor: pointer;
      }
    }

    &-title {
      text-transform: uppercase;
      position: relative;

      &::after {
        @include underline($color--green, 40%, -10px);
      }
    }

    &-description {
      font-size: 0.9rem;
    }
  }
}
