.side-section {
  margin: 15px auto;
  max-width: 900px;
  width: 100%;
  
  @include breakpoint(sm) {
    flex-grow: 1;
    padding-left: 15px;
    margin: 0;
    width: 30%;
  }
}

.side-article {
  padding: 15px;
  
  &__title {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 25px;
    width: 75%;
  }

  &__text {
    line-height: 1.5;
    padding-bottom: 15px;
    
    &::before {
      background: $color--black;
      content: "";
      display: block;
      height: 5px;
      margin-bottom: 15px;
      width: 100%;
    }
  }
}

