*, *::after, *::before {
    box-sizing: border-box;
}

/* EXERCISE 1 */
.exercise-1 main {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.exercise-1 main::after {
    content: "";
    clear: both;
    display: table;
}

.exercise-1 section.article {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    float: left;
    margin-right: 5%;
    background-color: white;
}

.exercise-1 article a.button {
    padding: 10px;
    background: blue;
    color: white;
    border-radius: 5px;
}

.exercise-1 aside {
    display: inline-block;
    width: 30%;
    background-color: red;
}

.exercise-1 article {
    display: inline-block;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 15px;
    border: 2px solid red;
    padding: 10px;
    transition: transform 0.2s linear;
}

.exercise-1 article.special {
    background-color: cyan;
}

.exercise-1 article.special a.button {
    padding: 20px;
}

.exercise-1 article:hover {
    transform: translateY(-10px);
}

.exercise-1 article a.button:hover {
    background: darkblue;
}

.exercise-1 article:nth-of-type(3n) {
    margin-right: 0px;
}

.exercise-1 article + article {
    margin-left: -4px;
}

/* EXERCISE 2 */

.exercise-2 figure {
    margin: 0;
}

.exercise-2 figure img {
    max-width: 100%;
    height: auto;
}

.exercise-2 .hero-image .content {
    position: absolute;
    background-color: black;
    color: white;
    left: 50%;
    top: 50%;
    padding: 50px 80px;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.7;
}

.exercise-2 .hero-image .content h1 {
    margin-top: 0;
    color: white;
}

.exercise-2 .hero-image .content p {
    color: gray;
    text-align: center;
    font-size: 23px;
}

.exercise-2 .hero-image .content a {
    background-color: darkblue;
    border-radius: 200px;
    padding: 10px;
    color: white;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%) translateY(-50%);
}

.exercise-2 .hero-image .content::before {
    content: "";
    display: inline-block;
    width: 45px;
    height: 45px;
    background: aqua url(https://image.flaticon.com/icons/svg/1150/1150672.svg) center center no-repeat;
    background-size: 35px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* EXERCISE 3 */

.exercise-3 .shapes .circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50px;
}

.exercise-3 .shapes .trapezius {
    width: 100px;
    border-top: 25px solid black;
    border-left: 25px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 0px solid transparent;

}

/* EXERCISE 4 */

.exercise-4 .checkboxes p input:checked + label::before {
    background: red;
}

.exercise-4 .checkboxes p input {
    display: none;
}

.exercise-4 .checkboxes p label::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 2px solid red;
    margin-right: 10px;
    vertical-align: middle;

}

/* EXERCISE 5 */

.stage {
    background-color: black;
    height: 200px;
    position: relative;
    text-align: center;
}

.stage::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 10px;
    background-image: linear-gradient(to right, transparent 50%, white 50%);
    background-size: 60px 100%;
}

.stage .cat {
    position: absolute;
    right: 20px;
    bottom: -7px;
    width: 200px;
    height: auto;
    transform: rotateY(180deg);
    transition: right 1.5s ease-in-out;
    opacity: 1;
    animation: katite 1.5s 1 backwards;
}

@keyframes katite {
    0% {
        transform: rotateY(180deg) scale(1);
    }
    15% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg) scale(2);
    }
}

.stage:hover .cat {
    right: 80%;
}

.stage:hover .snack-1 {
    transition: opacity 0.5s 1s ease-in-out;
    opacity: 0;
}

.stage:hover .snack-2 {
    transition: opacity 0.5s 0.5s ease-in-out;
    opacity: 0;
}

.stage:hover .snack-3 {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.stage .snack {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(https://www.friskies.com/media/1083-friskies-bacon-cat-treats-party-mix-brunch-morning-munch.png) center center no-repeat;
    background-size: contain;
}

.snack + .snack {
    margin-left: 15%;
}
