// For naming colors variables, we recommend use http://chir.ag/projects/name-that-color/
$black: #000;
$white: #FFF;
$blue-light: #F1F2F5;
$blue: #E0EBF3;
$blue-dark: #4f6793;
$blue-contrast: #51626F;
$blue-sky: #328CC1;
$san-marino: #3F51B5;
$ultra-marino: #1305A3;
$shin-cove: #7189B1;
$red-light: #FF5563;
$red: #DC1C24;
$red-dark: #CE423F;
$green: #9FD48A;
$green-medium: #88B04B;
$green-dark: #43A047;
$yellow: #F8E9A0;
$yellow-dark: #FFE461;
$orange: #DF7514;
$gray-ultralight: #F6F6F6;
$gray-light: #D8D8D8;
$gray: #A6A6A6;
$gray-dark: #9B9C9B;
$inverse: #252830;
$inverse-light: lighten($inverse, 10%);
$inverse-lighter: lighten($inverse, 15%);
$inverse-lightest: lighten($inverse, 25%);
$body-bg: #f1f1f1;
