html {
  box-sizing: border-box;
  font-size: 70%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $blue-light;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin: $small-margin;
}

.divider {
  &--top {
    border-top: 2px solid $gray-light;
  }

  &--left {
    border-top: 2px solid $gray-light;
  }
}

.padding {
  &--small-bottom {
    padding-bottom: $small-padding;
  }

  &--small-top {
    padding-top: $small-padding;
  }

  &--small-right {
    padding-right: $small-padding;
  }

  &--small-left {
    padding-left: $small-padding;
  }

  &--small {
    padding: $small-padding;
  }
}

.margin {
  &--small-bottom {
    padding-bottom: $small-margin;
  }

  &--small-top {
    padding-top: $small-margin;
  }

  &--small-right {
    margin-right: $small-margin;
  }

  &--small-left {
    margin-left: $small-margin;
  }

  &--small {
    margin: $small-margin;
  }
}
