.home {
  &__wireframe-img {
    height: 200px;
    width: 100%;
  }

  &-box {
    &__header {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;

      & > h3 {
        display: inline;
        @extend %text--overflow;
      }

      &--right-link {
        @extend %right-link;
        @extend %text--overflow;
        padding-left: $small-padding;
      }
    }
  }
}

.video {
  &__text {
    width: 100%;
    line-height: 33px;
    position: relative;

    &__paragraph {
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%)
    }
  }
}
