.home {
  &__wireframe-img {
    height: 200px;
    width: 100%;
  }

  &-box {
    &__header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      & > h3 {
        display: inline;
        @extend %text--overflow;
      }

      &--right-link {
        @extend %right-link;
        @extend %text--overflow;
        padding-left: 5px;
      }
    }
  }
}
