.home {
  &__wireframe-img {
    height: 200px;
    width: 100%;
  }

  &__play-btn{
    margin: 0.5rem 0 0 50%;
    transform: translate(-50%);
    background: $san-marino;
    color: $white;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &-box {
    &__header {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;

      & > h3 {
        display: inline;
        @extend %text--overflow;
      }

      &--right-link {
        @extend %right-link;
        @extend %text--overflow;
        padding-left: $small-padding;
      }
    }
  }
}
