@-webkit-keyframes sceneProgress {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes sceneProgress {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes opacityChange {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityChange {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  0% {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
  }
  60% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
  }
  80% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: -400px;
  }
  100% {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: -800px;
  }
}

@keyframes grow {
  0% {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
  }
  60% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
  }
  80% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: -400px;
  }
  100% {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: -800px;
  }
}

@-webkit-keyframes float {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes float {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@-webkit-keyframes glow {
  from {
    -webkit-box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
  }
}

@keyframes glow {
  from {
    -webkit-box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
  }
}

@-webkit-keyframes energyGlow {
  from {
    -webkit-box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
  }
}

@keyframes energyGlow {
  from {
    -webkit-box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
  }
}

@-webkit-keyframes zoomGokuOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@keyframes zoomGokuOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

.modal {
  position: fixed;
  width: 250px;
  right: 20px;
  left: 20px;
  padding: 15px;
  background-color: black;
  color: white;
  text-align: center;
  display: none;
}

.modal__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.modal__video iframe {
  width: 100%;
  height: auto;
}

.modal__button {
  display: inline-block;
}

.input--play {
  display: none;
}

.input--play:checked ~ .controls label[for="play"]:before {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: #cb0047;
  -webkit-animation: sceneProgress 5s linear 1 forwards;
          animation: sceneProgress 5s linear 1 forwards;
}

.input--play:checked ~ .goku {
  -webkit-animation: zoomGokuOut 2s ease-in-out 5s 1 forwards;
          animation: zoomGokuOut 2s ease-in-out 5s 1 forwards;
}

.input--play:checked ~ .goku .goku__spirit-bomb {
  -webkit-animation: float 3s ease-in-out infinite alternate, glow 5s ease-in-out infinite alternate, glow 8s cubic-bezier(0.05, 1.34, 0.78, -0.35) 1 forwards;
          animation: float 3s ease-in-out infinite alternate, glow 5s ease-in-out infinite alternate, glow 8s cubic-bezier(0.05, 1.34, 0.78, -0.35) 1 forwards;
}

.input--play:checked ~ .goku .energy-stuff {
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
  opacity: 0;
}

.input--reset {
  display: none;
}

.input--reset:checked ~ .controls label[for="reset"]:before {
  background: #cb0047;
}

.input--modal {
  display: none;
}

.input--modal:checked ~ .controls label[for="modal"]:before {
  background: black;
}

body.exercise1 {
  background: url("/assets/namek.png") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.energy-stuff {
  display: block;
  position: absolute;
  background: white;
  border-radius: 100%;
  -webkit-transition: opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), -webkit-transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
  transition: opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), -webkit-transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
  transition: transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
  transition: transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), -webkit-transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
}

.energy-stuff-0 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(136px) translateY(611px);
          transform: translateX(136px) translateY(611px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-1 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(185px) translateY(-5px);
          transform: translateX(185px) translateY(-5px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-2 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(544px) translateY(111px);
          transform: translateX(544px) translateY(111px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-3 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(551px) translateY(-489px);
          transform: translateX(551px) translateY(-489px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-4 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(1px) translateY(272px);
          transform: translateX(1px) translateY(272px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-5 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(674px) translateY(381px);
          transform: translateX(674px) translateY(381px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-6 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-345px) translateY(268px);
          transform: translateX(-345px) translateY(268px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-7 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(412px) translateY(-588px);
          transform: translateX(412px) translateY(-588px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-8 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(225px) translateY(-199px);
          transform: translateX(225px) translateY(-199px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-9 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-430px) translateY(-235px);
          transform: translateX(-430px) translateY(-235px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-10 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(78px) translateY(294px);
          transform: translateX(78px) translateY(294px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-11 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(87px) translateY(-595px);
          transform: translateX(87px) translateY(-595px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-12 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-227px) translateY(-685px);
          transform: translateX(-227px) translateY(-685px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-13 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(464px) translateY(399px);
          transform: translateX(464px) translateY(399px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-14 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-221px) translateY(340px);
          transform: translateX(-221px) translateY(340px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-15 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-364px) translateY(-485px);
          transform: translateX(-364px) translateY(-485px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-16 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(80px) translateY(-483px);
          transform: translateX(80px) translateY(-483px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-17 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-258px) translateY(-568px);
          transform: translateX(-258px) translateY(-568px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-18 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-661px) translateY(-282px);
          transform: translateX(-661px) translateY(-282px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-19 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(273px) translateY(-616px);
          transform: translateX(273px) translateY(-616px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-20 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-413px) translateY(-399px);
          transform: translateX(-413px) translateY(-399px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-21 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(524px) translateY(-48px);
          transform: translateX(524px) translateY(-48px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-22 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-301px) translateY(241px);
          transform: translateX(-301px) translateY(241px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-23 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(502px) translateY(620px);
          transform: translateX(502px) translateY(620px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-24 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-377px) translateY(608px);
          transform: translateX(-377px) translateY(608px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-25 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-611px) translateY(-43px);
          transform: translateX(-611px) translateY(-43px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-26 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(602px) translateY(-317px);
          transform: translateX(602px) translateY(-317px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-27 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-11px) translateY(514px);
          transform: translateX(-11px) translateY(514px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-28 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(222px) translateY(-182px);
          transform: translateX(222px) translateY(-182px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-29 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-348px) translateY(-352px);
          transform: translateX(-348px) translateY(-352px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-30 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(654px) translateY(-467px);
          transform: translateX(654px) translateY(-467px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-31 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(461px) translateY(-589px);
          transform: translateX(461px) translateY(-589px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-32 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(671px) translateY(330px);
          transform: translateX(671px) translateY(330px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-33 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(287px) translateY(87px);
          transform: translateX(287px) translateY(87px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-34 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-620px) translateY(-60px);
          transform: translateX(-620px) translateY(-60px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-35 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-420px) translateY(264px);
          transform: translateX(-420px) translateY(264px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-36 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(459px) translateY(-627px);
          transform: translateX(459px) translateY(-627px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-37 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-329px) translateY(-537px);
          transform: translateX(-329px) translateY(-537px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-38 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-299px) translateY(-79px);
          transform: translateX(-299px) translateY(-79px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-39 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-607px) translateY(519px);
          transform: translateX(-607px) translateY(519px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-40 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-470px) translateY(-460px);
          transform: translateX(-470px) translateY(-460px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-41 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(553px) translateY(-23px);
          transform: translateX(553px) translateY(-23px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-42 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-111px) translateY(-655px);
          transform: translateX(-111px) translateY(-655px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-43 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-454px) translateY(-40px);
          transform: translateX(-454px) translateY(-40px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-44 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-407px) translateY(-52px);
          transform: translateX(-407px) translateY(-52px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-45 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-19px) translateY(-536px);
          transform: translateX(-19px) translateY(-536px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-46 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-428px) translateY(415px);
          transform: translateX(-428px) translateY(415px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-47 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-355px) translateY(-287px);
          transform: translateX(-355px) translateY(-287px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-48 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-232px) translateY(122px);
          transform: translateX(-232px) translateY(122px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-49 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(491px) translateY(-517px);
          transform: translateX(491px) translateY(-517px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-50 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-379px) translateY(-267px);
          transform: translateX(-379px) translateY(-267px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-51 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-171px) translateY(274px);
          transform: translateX(-171px) translateY(274px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-52 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(418px) translateY(-141px);
          transform: translateX(418px) translateY(-141px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-53 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-100px) translateY(511px);
          transform: translateX(-100px) translateY(511px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-54 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(294px) translateY(-652px);
          transform: translateX(294px) translateY(-652px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-55 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(346px) translateY(385px);
          transform: translateX(346px) translateY(385px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-56 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(502px) translateY(-689px);
          transform: translateX(502px) translateY(-689px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-57 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-243px) translateY(585px);
          transform: translateX(-243px) translateY(585px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-58 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-677px) translateY(209px);
          transform: translateX(-677px) translateY(209px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-59 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(200px) translateY(-174px);
          transform: translateX(200px) translateY(-174px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-60 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(678px) translateY(-118px);
          transform: translateX(678px) translateY(-118px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-61 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(447px) translateY(197px);
          transform: translateX(447px) translateY(197px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-62 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(325px) translateY(-335px);
          transform: translateX(325px) translateY(-335px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-63 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(633px) translateY(-306px);
          transform: translateX(633px) translateY(-306px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-64 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-499px) translateY(163px);
          transform: translateX(-499px) translateY(163px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-65 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-65px) translateY(516px);
          transform: translateX(-65px) translateY(516px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-66 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(144px) translateY(-267px);
          transform: translateX(144px) translateY(-267px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-67 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(601px) translateY(199px);
          transform: translateX(601px) translateY(199px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-68 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(4px) translateY(593px);
          transform: translateX(4px) translateY(593px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-69 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(84px) translateY(-595px);
          transform: translateX(84px) translateY(-595px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-70 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(165px) translateY(-399px);
          transform: translateX(165px) translateY(-399px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-71 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(614px) translateY(345px);
          transform: translateX(614px) translateY(345px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-72 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-100px) translateY(475px);
          transform: translateX(-100px) translateY(475px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-73 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(344px) translateY(-607px);
          transform: translateX(344px) translateY(-607px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-74 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-678px) translateY(557px);
          transform: translateX(-678px) translateY(557px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-75 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-469px) translateY(25px);
          transform: translateX(-469px) translateY(25px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-76 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-687px) translateY(111px);
          transform: translateX(-687px) translateY(111px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-77 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(494px) translateY(-393px);
          transform: translateX(494px) translateY(-393px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-78 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-471px) translateY(619px);
          transform: translateX(-471px) translateY(619px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-79 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(71px) translateY(-525px);
          transform: translateX(71px) translateY(-525px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-80 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(12px) translateY(-264px);
          transform: translateX(12px) translateY(-264px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-81 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-232px) translateY(-50px);
          transform: translateX(-232px) translateY(-50px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-82 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(485px) translateY(636px);
          transform: translateX(485px) translateY(636px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-83 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(68px) translateY(310px);
          transform: translateX(68px) translateY(310px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-84 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-545px) translateY(498px);
          transform: translateX(-545px) translateY(498px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-85 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-324px) translateY(-614px);
          transform: translateX(-324px) translateY(-614px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-86 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-543px) translateY(-696px);
          transform: translateX(-543px) translateY(-696px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-87 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(47px) translateY(101px);
          transform: translateX(47px) translateY(101px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-88 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-668px) translateY(-424px);
          transform: translateX(-668px) translateY(-424px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-89 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-179px) translateY(303px);
          transform: translateX(-179px) translateY(303px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-90 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-295px) translateY(506px);
          transform: translateX(-295px) translateY(506px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-91 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-465px) translateY(-119px);
          transform: translateX(-465px) translateY(-119px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-92 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(669px) translateY(244px);
          transform: translateX(669px) translateY(244px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-93 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(603px) translateY(-584px);
          transform: translateX(603px) translateY(-584px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-94 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-638px) translateY(-557px);
          transform: translateX(-638px) translateY(-557px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-95 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(386px) translateY(-5px);
          transform: translateX(386px) translateY(-5px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-96 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(167px) translateY(-549px);
          transform: translateX(167px) translateY(-549px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-97 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-420px) translateY(-149px);
          transform: translateX(-420px) translateY(-149px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-98 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-499px) translateY(-656px);
          transform: translateX(-499px) translateY(-656px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-99 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(179px) translateY(-430px);
          transform: translateX(179px) translateY(-430px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-100 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width/2);
  top: calc(50% - $width/2);
  -webkit-transform: translateX(-485px) translateY(-415px);
          transform: translateX(-485px) translateY(-415px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.goku {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  bottom: 200px;
  min-width: 200px;
}

.goku__body {
  width: 100%;
  height: auto;
  -webkit-animation: float 2s ease-in-out infinite alternate;
          animation: float 2s ease-in-out infinite alternate;
}

.goku__spirit-bomb {
  left: 10%;
  width: 150px;
  height: 150px;
  background-image: radial-gradient(#faf7ff 0%, #faf7ff 17%, #90e7fe 28%, #90e7fe 70%, #79e2fa 100%);
  position: absolute;
  top: -250px;
  border-radius: 100%;
  text-indent: -9999px;
  border: 10px solid #baf3fe;
  -webkit-box-shadow: 0 0 14px 2px #baf3fe, 0 0 9px 10px #b7f3fe;
          box-shadow: 0 0 14px 2px #baf3fe, 0 0 9px 10px #b7f3fe;
  -webkit-animation: float 5s ease-in-out infinite alternate, glow 1s ease-in-out infinite alternate;
          animation: float 5s ease-in-out infinite alternate, glow 1s ease-in-out infinite alternate;
}

.goku__spirit-bomb-energy {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -200px;
  -webkit-animation: opacityChange 2s ease-in-out infinite alternate;
          animation: opacityChange 2s ease-in-out infinite alternate;
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  border-bottom: 1px solid #606060;
  background-color: #3a3a3a;
}

.controls label {
  position: relative;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  overflow: hidden;
}

.controls label:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.controls label:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.controls label + label {
  border-left: 1px solid #606060;
}
/*# sourceMappingURL=exercise1.css.map */