$sb-middle: #faf7ff;
$sb-inner: #90e7fe;
$sb-outer: #79e2fa;
$sb-inner-border: #baf3fe;
$sb-outer-border: #b7f3fe;
$color--black: #000;
$color--controls: #cb0047;
$goku-width: 10%;
$scene1-length: 5s;
$cubic: cubic-bezier(.05, 1.34, .78, -0.35);
@import "mixins";
@import "animations";
@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));
    @return $randomNum;
}

<<<<<<< HEAD
.modal {
    position: fixed;
    width: 250px;
    right: 20px;
    left: 20px;
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
    display: none;
    &__title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    &__text {}
    &__video {
        iframe {
            width: 100%;
            height: auto;
        }
    }
    &__button {
        display: inline-block;
    }
}
=======
//energy

.energy-stuff {
  display: block;
  position: absolute;
  background: white;
  border-radius: 100%;
  transition: transform $scene1-length $cubic, opacity $scene1-length $cubic;
}


@for $i from 0 through 100 {
  .energy-stuff-#{$i} {
      $size: #{randomNum(3, 6)}px;
      $positionX: #{randomNum(-700, 700)}px;
      $positionY: #{randomNum(-700, 700)}px;

      width: $size;
      height: $size;
      left: calc(50% - $width / 2);
      top: calc(50% - $width / 2);
      transform: translateX($positionX) translateY($positionY);
      box-shadow: 0 0 5px $size transparentize($sb-middle, 0.5);
  }
}

body.exercise1 {
  background: url(../assets/namek.png) center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

// Modal

.modal {
  position: fixed;
  width: 250px;
  right: 20px;
  bottom: 20px;
  padding: 15px;
  background-color: black;
  color: white;
  text-align: center;
  display: none;

  &__video {
    iframe {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__button {
    display: inline-block;
    background: white;
    color: black;
    padding: 10px;
  }
}

//goku 

.goku {
  position: fixed;
  left: 50%;
  width: $goku-width;
  margin-left: $goku-width / 2;
  bottom: 200px;
  min-width: 200px;

  &__body {
   width: 100%;
   height: auto;
   animation: float 3s ease-in-out infinite alternate;
  }

  &__spirit-bomb {
    @include circle-center(150px);
    background-image: radial-gradient($sb-middle 0%, $sb-middle 17%, $sb-inner 28%, $sb-inner 70%, $sb-outer 100%);
    top: -200px;
    border-radius: 100%;
    text-indent: -9999px;
    box-shadow: 0 0 14px 2px $sb-inner-border, 0 0 9px 10px $sb-outer-border;
    border: 10px solid $sb-inner-border;
    animation: float 7s ease-in-out infinite alternate,
    glow 5s ease-in-out infinite alternate;
  }

  &__spirit-bomb-energy {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: -200px;
    animation: opacityChange 2s ease-in-out infinite alternate;
  }
}

// Controls
>>>>>>> master

// Controls
.input--play {
<<<<<<< HEAD
    display: none;
    &:checked {
        ~.controls {
            label[for="play"] {
                &:before {
                    transform: translateX(-100%);
                    background: #cb0047;
                    animation: sceneProgress $scene1-length linear 1 forwards;
                }
            }
        }
        ~.goku {
            animation: zoomGokuOut 2s ease-in-out $scene1-length 1 forwards;
            .goku__spirit-bomb {
                animation: float 3s ease-in-out infinite alternate, glow 5s ease-in-out infinite alternate, glow 8s $cubic 1 forwards;
            }
            .energy-stuff {
                transform: translateX(0) translateY(0);
                opacity: 0;
            }
=======
  display: none;

  &:checked {
    ~ .controls {
      label[for="play"] {
        &:before {
            transform: translateX(-100%);
            background: #cb0047;
            animation: sceneProgress $scene1-length linear 1 forwards;
>>>>>>> master
        }
    }
<<<<<<< HEAD
}

.input--reset {
    display: none;
    &:checked {
        ~.controls {
            label[for="reset"] {
                &:before {
                    background: #cb0047;
                }
            }
=======

    ~ .goku {
      animation: zoomGokuOut 2s ease-in-out $scene1-length 1 forwards;

      .goku__spirit-bomb {
        animation: float 3s ease-in-out infinite alternate, 
        glow 5s ease-in-out infinite alternate, 
        grow 8s $cubic 1 forwards;
      }

      .energy-stuff {
        transform: translateX(0) translateY(0);
        opacity: 0;
      }
    }
  }
}

.input--reset {
  display: none;

  &:checked {
    ~ .controls {
      label[for="reset"] {
        &:before {
             background: #cb0047;
>>>>>>> master
        }
    }
}

.input--modal {
<<<<<<< HEAD
    display: none;
    &:checked {
        ~.controls {
            label[for="modal"] {
                &:before {
                    background: black;
                }
            }
=======
  display: none;

  &:checked {
    ~ .controls {
      label[for="modal"] {
        &:before {
            background: black;
>>>>>>> master
        }
    }
<<<<<<< HEAD
=======

    ~ .modal {
      display: block;
    }
  }
>>>>>>> master
}

body.exercise1 {
    background: url("/assets/namek.png") center center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

// energy
.energy-stuff {
    display: block;
    position: absolute;
    background: white;
    border-radius: 100%;
    transition: transform $scene1-length $cubic, opacity $scene1-length $cubic;
}

@for $i from 0 through 100 {
    .energy-stuff-#{$i} {
        $size: #{randomNum(3,6)}px;
        $positionX: #{randomNum(-700,700)}px;
        $positionY: #{randomNum(-700,700)}px;
        width: $size;
        height: $size;
        left: calc(50% - $width/2);
        top: calc(50% - $width/2);
        transform: translateX($positionX) translateY($positionY);
        box-shadow: 0 0 5px $size transparentize($sb-middle, 0.5);
    }
}

// Gokas
.goku {
    //position: fixed;\
    @include circle-center(150px);
    //left: 50%;
    // width: $goku-width;
    // margin-left: $goku-width/2;
    bottom: 200px;
    min-width: 200px;
    //box-shadow: 0 0 10px 15px;
    &__body {
        width: 100%;
        height: auto;
        animation: float 2s ease-in-out infinite alternate;
    }
    &__spirit-bomb {
        left: 10%;
        width: 150px;
        height: 150px;
        background-image: radial-gradient($sb-middle 0%, $sb-middle 17%, $sb-inner 28%, $sb-inner 70%, $sb-outer 100%);
        position: absolute;
        top: -250px;
        border-radius: 100%;
        text-indent: -9999px;
        border: 10px solid $sb-inner-border;
        box-shadow: 0 0 14px 2px $sb-inner-border, 0 0 9px 10px $sb-outer-border;
        animation: float 5s ease-in-out infinite alternate, glow 1s ease-in-out infinite alternate
    }
    &__spirit-bomb-energy {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        top: -200px;
        animation: opacityChange 2s ease-in-out infinite alternate;
    }
}

.controls {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    z-index: 100;
    border-bottom: 1px solid lighten(#3a3a3a, 15%);
    background-color: #3a3a3a;
    label {
        position: relative;
        cursor: pointer;
        flex-grow: 1;
        display: block;
        height: 40px;
        color: white;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        transition: background 0.2s ease-in-out;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }
        &:hover {
            background-color: transparentize(white, 0.9);
        }
        +label {
            border-left: 1px solid lighten(#3a3a3a, 15%);
        }
    }
}