@-webkit-keyframes sceneProgress {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes sceneProgress {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes opacityChange {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityChange {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  0% {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
  }
  60% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
  }
  80% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: -400px;
  }
  100% {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: -800px;
  }
}

@keyframes grow {
  0% {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
  }
  60% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
  }
  80% {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: -400px;
  }
  100% {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: -800px;
  }
}

@-webkit-keyframes float {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes float {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@-webkit-keyframes glow {
  from {
    -webkit-box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
  }
}

@keyframes glow {
  from {
    -webkit-box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
  }
}

@-webkit-keyframes energyGlow {
  from {
    -webkit-box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
  }
}

@keyframes energyGlow {
  from {
    -webkit-box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 14px 10px rgba(183, 243, 254, 0.6), 0 0 9px 5px rgba(186, 243, 254, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
            box-shadow: 0 0 20px 15px rgba(183, 243, 254, 0.6), 0 0 9px 8px rgba(186, 243, 254, 0.6);
  }
}

@-webkit-keyframes zoomGokuOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@keyframes zoomGokuOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

.energy-stuff {
  display: block;
  position: absolute;
  background: white;
  border-radius: 50%;
  -webkit-transition: opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), -webkit-transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
  transition: opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), -webkit-transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
  transition: transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
  transition: transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), opacity 5s cubic-bezier(0.05, 1.34, 0.78, -0.35), -webkit-transform 5s cubic-bezier(0.05, 1.34, 0.78, -0.35);
}

.energy-stuff-0 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(465px) translateY(289px);
          transform: translateX(465px) translateY(289px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-1 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(184px) translateY(-148px);
          transform: translateX(184px) translateY(-148px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-2 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(464px) translateY(274px);
          transform: translateX(464px) translateY(274px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-3 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(165px) translateY(681px);
          transform: translateX(165px) translateY(681px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-4 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-369px) translateY(-369px);
          transform: translateX(-369px) translateY(-369px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-5 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(675px) translateY(642px);
          transform: translateX(675px) translateY(642px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-6 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-291px) translateY(331px);
          transform: translateX(-291px) translateY(331px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-7 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(391px) translateY(-207px);
          transform: translateX(391px) translateY(-207px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-8 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(633px) translateY(129px);
          transform: translateX(633px) translateY(129px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-9 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-558px) translateY(228px);
          transform: translateX(-558px) translateY(228px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-10 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(453px) translateY(-360px);
          transform: translateX(453px) translateY(-360px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-11 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(647px) translateY(-644px);
          transform: translateX(647px) translateY(-644px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-12 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(385px) translateY(-496px);
          transform: translateX(385px) translateY(-496px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-13 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(116px) translateY(-489px);
          transform: translateX(116px) translateY(-489px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-14 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-512px) translateY(-250px);
          transform: translateX(-512px) translateY(-250px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-15 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-169px) translateY(355px);
          transform: translateX(-169px) translateY(355px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-16 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(320px) translateY(21px);
          transform: translateX(320px) translateY(21px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-17 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(19px) translateY(236px);
          transform: translateX(19px) translateY(236px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-18 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(495px) translateY(-42px);
          transform: translateX(495px) translateY(-42px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-19 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(219px) translateY(522px);
          transform: translateX(219px) translateY(522px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-20 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(301px) translateY(-381px);
          transform: translateX(301px) translateY(-381px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-21 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-507px) translateY(17px);
          transform: translateX(-507px) translateY(17px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-22 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(229px) translateY(-640px);
          transform: translateX(229px) translateY(-640px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-23 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-642px) translateY(-652px);
          transform: translateX(-642px) translateY(-652px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-24 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(159px) translateY(160px);
          transform: translateX(159px) translateY(160px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-25 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-108px) translateY(-577px);
          transform: translateX(-108px) translateY(-577px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-26 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(433px) translateY(467px);
          transform: translateX(433px) translateY(467px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-27 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-35px) translateY(188px);
          transform: translateX(-35px) translateY(188px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-28 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-580px) translateY(386px);
          transform: translateX(-580px) translateY(386px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-29 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(146px) translateY(573px);
          transform: translateX(146px) translateY(573px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-30 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-427px) translateY(-264px);
          transform: translateX(-427px) translateY(-264px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-31 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-322px) translateY(264px);
          transform: translateX(-322px) translateY(264px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-32 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(543px) translateY(461px);
          transform: translateX(543px) translateY(461px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-33 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-519px) translateY(324px);
          transform: translateX(-519px) translateY(324px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-34 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-299px) translateY(621px);
          transform: translateX(-299px) translateY(621px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-35 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(188px) translateY(-23px);
          transform: translateX(188px) translateY(-23px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-36 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(331px) translateY(-501px);
          transform: translateX(331px) translateY(-501px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-37 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-221px) translateY(-312px);
          transform: translateX(-221px) translateY(-312px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-38 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-399px) translateY(-532px);
          transform: translateX(-399px) translateY(-532px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-39 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(613px) translateY(-307px);
          transform: translateX(613px) translateY(-307px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-40 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-568px) translateY(557px);
          transform: translateX(-568px) translateY(557px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-41 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(102px) translateY(-127px);
          transform: translateX(102px) translateY(-127px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-42 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(28px) translateY(685px);
          transform: translateX(28px) translateY(685px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-43 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-630px) translateY(-478px);
          transform: translateX(-630px) translateY(-478px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-44 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-362px) translateY(264px);
          transform: translateX(-362px) translateY(264px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-45 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-270px) translateY(-561px);
          transform: translateX(-270px) translateY(-561px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-46 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(613px) translateY(-55px);
          transform: translateX(613px) translateY(-55px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-47 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(625px) translateY(-164px);
          transform: translateX(625px) translateY(-164px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-48 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-611px) translateY(321px);
          transform: translateX(-611px) translateY(321px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-49 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(240px) translateY(-344px);
          transform: translateX(240px) translateY(-344px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-50 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-436px) translateY(-289px);
          transform: translateX(-436px) translateY(-289px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-51 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(78px) translateY(-184px);
          transform: translateX(78px) translateY(-184px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-52 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(42px) translateY(-634px);
          transform: translateX(42px) translateY(-634px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-53 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(338px) translateY(196px);
          transform: translateX(338px) translateY(196px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-54 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-586px) translateY(-556px);
          transform: translateX(-586px) translateY(-556px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-55 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-393px) translateY(-161px);
          transform: translateX(-393px) translateY(-161px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-56 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-616px) translateY(-436px);
          transform: translateX(-616px) translateY(-436px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-57 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-669px) translateY(-678px);
          transform: translateX(-669px) translateY(-678px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-58 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(494px) translateY(576px);
          transform: translateX(494px) translateY(576px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-59 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(38px) translateY(-535px);
          transform: translateX(38px) translateY(-535px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-60 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(531px) translateY(-183px);
          transform: translateX(531px) translateY(-183px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-61 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-673px) translateY(452px);
          transform: translateX(-673px) translateY(452px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-62 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(59px) translateY(543px);
          transform: translateX(59px) translateY(543px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-63 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-666px) translateY(-601px);
          transform: translateX(-666px) translateY(-601px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-64 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(607px) translateY(605px);
          transform: translateX(607px) translateY(605px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-65 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-624px) translateY(-19px);
          transform: translateX(-624px) translateY(-19px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-66 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(671px) translateY(-197px);
          transform: translateX(671px) translateY(-197px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-67 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-110px) translateY(476px);
          transform: translateX(-110px) translateY(476px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-68 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(184px) translateY(-10px);
          transform: translateX(184px) translateY(-10px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-69 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-522px) translateY(-175px);
          transform: translateX(-522px) translateY(-175px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-70 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(84px) translateY(-623px);
          transform: translateX(84px) translateY(-623px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-71 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-503px) translateY(-365px);
          transform: translateX(-503px) translateY(-365px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-72 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-520px) translateY(-291px);
          transform: translateX(-520px) translateY(-291px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-73 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-239px) translateY(606px);
          transform: translateX(-239px) translateY(606px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-74 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-221px) translateY(105px);
          transform: translateX(-221px) translateY(105px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-75 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-629px) translateY(-474px);
          transform: translateX(-629px) translateY(-474px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-76 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-464px) translateY(-345px);
          transform: translateX(-464px) translateY(-345px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-77 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-451px) translateY(-6px);
          transform: translateX(-451px) translateY(-6px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-78 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-95px) translateY(661px);
          transform: translateX(-95px) translateY(661px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-79 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-253px) translateY(24px);
          transform: translateX(-253px) translateY(24px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-80 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-129px) translateY(-205px);
          transform: translateX(-129px) translateY(-205px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-81 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(583px) translateY(228px);
          transform: translateX(583px) translateY(228px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-82 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-41px) translateY(696px);
          transform: translateX(-41px) translateY(696px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-83 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(122px) translateY(-634px);
          transform: translateX(122px) translateY(-634px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-84 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(339px) translateY(27px);
          transform: translateX(339px) translateY(27px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-85 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(296px) translateY(625px);
          transform: translateX(296px) translateY(625px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-86 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-407px) translateY(-443px);
          transform: translateX(-407px) translateY(-443px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-87 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-440px) translateY(-411px);
          transform: translateX(-440px) translateY(-411px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-88 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(81px) translateY(-403px);
          transform: translateX(81px) translateY(-403px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-89 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-310px) translateY(675px);
          transform: translateX(-310px) translateY(675px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-90 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-638px) translateY(-569px);
          transform: translateX(-638px) translateY(-569px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-91 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-89px) translateY(-511px);
          transform: translateX(-89px) translateY(-511px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-92 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-282px) translateY(-22px);
          transform: translateX(-282px) translateY(-22px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-93 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(420px) translateY(-502px);
          transform: translateX(420px) translateY(-502px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-94 {
  width: 3px;
  height: 3px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(81px) translateY(-675px);
          transform: translateX(81px) translateY(-675px);
  -webkit-box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 3px rgba(250, 247, 255, 0.5);
}

.energy-stuff-95 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(197px) translateY(125px);
          transform: translateX(197px) translateY(125px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-96 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-241px) translateY(528px);
          transform: translateX(-241px) translateY(528px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-97 {
  width: 6px;
  height: 6px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(579px) translateY(141px);
          transform: translateX(579px) translateY(141px);
  -webkit-box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 6px rgba(250, 247, 255, 0.5);
}

.energy-stuff-98 {
  width: 5px;
  height: 5px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-615px) translateY(171px);
          transform: translateX(-615px) translateY(171px);
  -webkit-box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 5px rgba(250, 247, 255, 0.5);
}

.energy-stuff-99 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(-548px) translateY(32px);
          transform: translateX(-548px) translateY(32px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.energy-stuff-100 {
  width: 4px;
  height: 4px;
  left: calc(50% - $width / 2);
  top: calc(50% - $width / 2);
  -webkit-transform: translateX(686px) translateY(-210px);
          transform: translateX(686px) translateY(-210px);
  -webkit-box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
          box-shadow: 0 0 5px 4px rgba(250, 247, 255, 0.5);
}

.goku {
  position: fixed;
  left: 40%;
  bottom: 100px;
  width: 10%;
  min-width: 200px;
}

.goku img {
  max-width: 100%;
  height: auto;
  -webkit-animation: float 3s ease-in-out infinite alternate;
          animation: float 3s ease-in-out infinite alternate;
}

.goku > span {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  display: inline-block;
  top: -400px;
  background-image: radial-gradient(#faf7ff 0%, #faf7ff 17%, #90e7fe 28%, #90e7fe 70%, #79e2fa 100%);
  border: 10px solid #baf3fe;
  border-radius: 100%;
  text-indent: -9999px;
  word-wrap: nowrap;
  -webkit-animation: float 7s ease-in-out infinite alternate,  glow 5s ease-in-out infinite alternate;
          animation: float 7s ease-in-out infinite alternate,  glow 5s ease-in-out infinite alternate;
  -webkit-box-shadow: 0 0 14px 2px #baf3fe, 0 0 9px 10px #b7f3fe;
          box-shadow: 0 0 14px 2px #baf3fe, 0 0 9px 10px #b7f3fe;
}

.goku__spirit-bomb-energy {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -200px;
  -webkit-animation: opacityChange 2s ease-in-out infinite alternate;
          animation: opacityChange 2s ease-in-out infinite alternate;
}

.input--play {
  display: none;
}

.input--play:checked ~ .controls label[for="play"]:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: #cb0047;
  z-index: -1;
  -webkit-animation: sceneProgress 5s linear 1 forwards;
          animation: sceneProgress 5s linear 1 forwards;
}

.input--play:checked ~ .goku {
  -webkit-animation: zoomGokuOut 2s ease-in-out 5s 1 forwards;
          animation: zoomGokuOut 2s ease-in-out 5s 1 forwards;
}

.input--play:checked ~ .goku > span {
  -webkit-animation: float 3s ease-in-out infinite alternate, glow 5s ease-in-out infinite alternate, grow 8s cubic-bezier(0.05, 1.34, 0.78, -0.35) 1 forwards;
          animation: float 3s ease-in-out infinite alternate, glow 5s ease-in-out infinite alternate, grow 8s cubic-bezier(0.05, 1.34, 0.78, -0.35) 1 forwards;
}

.input--play:checked ~ .goku .energy-stuff {
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
  opacity: 0;
}

.input--reset {
  display: none;
}

.input--reset:checked ~ .controls label[for="reset"]:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #cb0047;
  z-index: -1;
}

.input--modal {
  display: none;
}

.input--modal:checked ~ .controls label[for="modal"]:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  z-index: -1;
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  border-bottom: 1px solid #606060;
  background-color: #3a3a3a;
}

.controls label {
  position: relative;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  overflow: hidden;
}

.controls label:before {
  content: "";
}

.controls label:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.controls label + label {
  border-left: 1px solid #606060;
}
/*# sourceMappingURL=exercise1-solved.css.map */