//system
@import "core/variables";
@import "core/mixins";
@import "core/animations";
@import "base";
@import "layout";
//main
@import "modules/exercise1/exercise1";
@import "modules/exercise2/exercise2";
//@import "modules/exercise1/exercise1-solved";
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,500,700|Open+Sans:300,400,700&subset=latin-ext');
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Exo 2', sans-serif;
    padding: em(32) em(60);
}

.grid-example {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 100px;
    column-gap: 10px;
    row-gap: 1em;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box2 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    column-gap: 10px;
    row-gap: 1em;
}