$color--blue--dark: #1A1B2B;
$color--grey: #404040;
$color--yellow: #FFD000;
$color--black: #000000;
$color--white: #FFFFFF;
$color--dark-grey: #0F0F0F;
$color--red: #ff0000;
$color--orange:#ff4500;
$font-size: 24px;
$max-width: 1920px;
$max-height: 1080px;