
.page-slider {
    grid-area: entr;
    height: 60vh;
}

.slider-wrapper {
    margin: 0;
    padding: 0;
}

.slider__image {
    position: absolute;
    background-image: url(../src/slider_landscape.jpg);
    background-position: center;
    border: solid #000000 1px;
    height: 60vh;
    width: 100%;
}

.slider-article {
    display: block;
    position: absolute;
    left: 30%;
    top: 50%;
}
            
.slider-article__title {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 3rem;
    color: #ffffff;
    margin: 0;
}

.slider-article__text {
    color: #ffffff;
    margin: 1rem;
}

.slider-article__text:nth-child(3) {
    margin: 1rem 1rem 3rem 1rem;
}

.slider-article__button {
    background-color: transparentize($color: #000000, $amount: 0.5);
    border: solid #ffffff 1px;
        -webkit-box-shadow: 0px 0px 20px 5px rgba(10,204,0,0.8);
        -moz-box-shadow: 0px 0px 20px 5px rgba(10,204,0,0.8);
    box-shadow: 0px 0px 20px 5px rgba(10,204,0,0.8);
    color: #ffffff;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.slider-article__button:nth-child(5) {
        -webkit-box-shadow: 0px 0px 20px 5px rgba(255,0,0,1);
        -moz-box-shadow: 0px 0px 20px 5px rgba(255,0,0,1);
    box-shadow: 0px 0px 20px 5px rgba(255,0,0,1);
}

.slider-article__button:hover {
    background-color: transparentize($color: #000000, $amount: 0.3);
        -webkit-box-shadow: 0px 0px 20px 10px rgba(10,204,0,0.8);
        -moz-box-shadow: 0px 0px 20px 10px rgba(10,204,0,0.8);
    box-shadow: 0px 0px 20px 10px rgba(10,204,0,0.8);
}

.slider-article__button:nth-child(5):hover {
        -webkit-box-shadow: 0px 0px 20px 10px rgba(255,0,0,1);
        -moz-box-shadow: 0px 0px 20px 10px rgba(255,0,0,1);
    box-shadow: 0px 0px 20px 10px rgba(255,0,0,1);
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (max-width: 1200px) {

    .slider-article {
        left: 20%;
    }
}

@media (max-width: 1000px) {

    .page-slider {
        height: auto;
    }

    .slider__image {
        background-image: url(../src/slider_portrait.jpg);
    }

    .slider-article {
        position: relative;
        left: auto;
        top: auto;
        padding: 2rem;
    }

    .slider-article__button {
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }
}