//system
@import "base";
@import "core/variables";
@import "core/mixins";
@import "core/animations";
@import "layout";

//main
@import "components/header/bottom-nav";
@import "components/footer/footer";
@import "components/footer/footer-l-content";
@import "components/footer/footer-r-content";
@import "components/header/header";
@import "components/header/top-nav";
@import "components/main/main-article";
@import "components/main/main-form";
@import "components/main/main-second-article";
@import "components/main/main-second-section";
@import "components/main/main-section";
@import "components/main/main-sub-article";
@import "components/main/main-sub-article-content";
@import "components/main/main-sub-article-l-content";
@import "components/main/main-sub-article-r-content";
@import "components/main/side-section";




body {
  background: $color--light-grey;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Exo 2', sans-serif;
}

.grid-example { 
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  grid-auto-rows: 100px; 
  column-gap: 10px;
  row-gap: 1em;
} 

.box1 { 
  grid-column-start: 1; 
  grid-column-end: 4; 
  grid-row-start: 1; 
  grid-row-end: 3; 
}

.box2 { 
  grid-column-start: 1; 
  grid-row-start: 3; 
  grid-row-end: 5; 
  column-gap: 10px;
  row-gap: 1em;
}

