//system
@import "core/variables";
@import "core/mixins";
@import "core/animations";

//main
@import "modules/nav/nav";
@import "modules/hero/hero";
@import "modules/benefits/benefits";
@import "modules/portfolio/portfolio";
@import "modules/pricing/pricing";
@import "modules/footer/footer";

body {
  font-family: "Lato", sans-serif;
  color: $color--paragraph;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: $color--black;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.9rem;
}

p {
  color: $color--paragraph;
}
