.products {
    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }

    &__div {
        display: flex;
        &__article {
            width: 50%;
            text-align: center;

            &__title {
                font-weight: bold;
                text-align: center;
            }

            &__img {
                width: 100%;
            }
        }
    }
}